<h1>Welcome to my sinatra application blog project</h1>

<h2>This is a blog where users are encouraged to write about their favorite games!!</h2>

<h2>Click <a href="/posts">here</a> to enter the blog!</h2>

<h4>Not a member yet? <a href="/signup">Sign up!</a></h4>
