<h1>Lets start that new blog post!</h1>

<form method="POST" action="/posts">
  <p>
    <label for="title">Whats Your Favorite Game!</label><br />
    <input type="text" name="title" />
  </p>
  <p>
    <label for="body">Tell us about the game:</label><br />
    <textarea name="body"></textarea>
  </p>

  <input type="submit">

</form>
