<h1>Tell us about yourself!</h1>

<form method="POST" action="/users">
<p>
  <label>Name:</label>
  <input type="text" name="name" />
</p>
<p>
  <label>Email:</label>
  <input type="text" name="email" />
</p>
<p>
  <label>Password:</label>
  <input type="password" name="password" />
</p>

  <input type="submit" value="Sign Up!">

</form>

<h2>Already a member? <a href="/login">Login!</a></h2>
